/**
* @block validator 
*/
/* valid */
.validator-valid {
  display: block;
  padding: 5px;
  color: green;
}
.validator-valid-input {
  border: 1px solid green !important;
}
input.validator-valid-input {
  background: url(../images/valid.gif) 99% 50% no-repeat; 
}
/* invalid */
.validator-error {
  display: block;
  padding: 5px;
  color: #ff0000;
}
.validator-error-input {
  border: 1px solid #ff0000 !important;
}
input.validator-error-input {
  background: url(../images/invalid.gif) 99% 50% no-repeat 
}
